<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FathersAlbum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FathersAlbum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FathersAlbum.Properties.Settings>
            <setting name="access_token" serializeAs="String">
                <value />
            </setting>
        </FathersAlbum.Properties.Settings>
    </userSettings>
    <!--应用程序设置如下-->
    <applicationSettings>
        <FathersAlbum.Properties.Settings>
            <setting name="APIkey" serializeAs="String">
                <value>DxkWvW5h8stcngWzUmO1r07G</value> <!--此处修改APIkey的值-->
            </setting>
            <setting name="Secretkey" serializeAs="String">
                <value>7d0v9fuGfMKv0k2HV029ksx6vbAqqgby</value> <!--此处修改Secretkey的值-->
            </setting>
        </FathersAlbum.Properties.Settings>
    </applicationSettings>

</configuration>